@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: "Dosis", sans-serif;
  }

nav {
    position: absolute;    
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color:rgb(45, 67, 86,0.5);
    max-width: 1600px;
    padding: 2rem 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
  }
  
  .Links {
    list-style: none;
    gap: 2rem;
    display: flex;
  }
  
  .Links a {
    padding: 1rem;
    text-decoration: none;
    color: #FAF0E6;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  
  header {
    background-image: url("Image/bim.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .Head {
    position: relative;
    max-width: 1400px;
    margin: auto;
    padding: 0 1rem;
    min-height: 100vh;
  }
  
  .headContent {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .headContent h1 {
    text-align: left;
    font-size: 5rem;
    font-weight: 300;
    color: #FAF0E6;   
    line-height: 6rem;
  }
  
  .headContent h1 span {
    color: #b45309;
    font-weight: 600;
  }
  
  .headContent .Start {
    text-decoration: overline;
    margin-top: 2rem;
    color: #FAF0E6;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
  }
    
  .cards {
    position: absolute;
    bottom: 0;
    width: calc(100% - 3rem);
    display: grid;
    gap: 1rem;
    align-items: end;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .card {
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(80, 114, 123, 0.5);
    text-shadow: bold;
    cursor: pointer;
    transition: 0.5s;
    height: 100px;
  }
  
  .card h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(234, 178, 160,0.8);
  }
  
  .card h5 {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .card p {
    color:bisque;
    margin-top: 1.2rem;
    font-size: 1rem;
    transition: 0.3s;
  }

  .card:hover {
    height: 250px;
  }
 